HELP.md
target/
.mvn
/src/test/
*.properties
*.cmd
mvnw

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

