<div *ngIf="aiportsIsEmpty; else NotEmpty" class="alert alert-success">
  {{message}}
</div>

<ng-template #NotEmpty>

  <div class="form-group">
    <label> Wybierz lotnisko koncowe:
      <select [(ngModel)]='selected' class='form-control'>
        <option *ngFor=" let airport of airports" [value]="airport.id">
          {{airport.id}}, {{airport.nameCountry}}, {{airport.name}}
        </option>
      </select>
    </label>
  </div>

  <div class="form-group">
    <button (click)="onSubmit()" class="btn btn-primary">Wyswietl z podanego lotniska</button>
  </div>
</ng-template>

<div *ngIf="submited && messageIs">
  <div class="container">
    <h4>Wszystkie loty do podanego przez użytkownika lotniska końcowego posortowanych wg godzin przylotu:</h4>
    <ul class="list-group">
      <li *ngFor="let flight of flights" class="list-group-item">
        <div *ngIf="flight.type === 'personal'">
          ID: {{flight.id}}, Typ lotu: {{flight.type}}; Godzina odlotu <b>{{flight.startTime}}</b>;
          Czas lotu: {{flight.durationTimeMinutes}};  Cena za jedno miejsce:{{flight.priceForOnePlace}}; MAX bagaz dla jednej osoby:{{flight.maxWightBaggageForOnePerson}};
          Lotnisko pocztkowe: [Miasto:{{flight.start.name}}, Kraj:{{flight.start.nameCountry}}]; Lotnisko koncowe: [Miasto:{{flight.end.name}}, Kraj:{{flight.end.nameCountry}}];
        </div>
        <div *ngIf="flight.type === 'cargo'">
          ID: {{flight.id}}, Typ lotu: {{flight.type}}; Godzina odlotu <b>{{flight.startTime}}</b>;
          Czas lotu: {{flight.durationTimeMinutes}}; Stały koszt: {{flight.feeConst}}; Koszt za kilo paczki: {{flight.feeForKiloPack}};
          Lotnisko pocztkowe: [Miasto:{{flight.start.name}}, Kraj:{{flight.start.nameCountry}}]; Lotnisko koncowe: [Miasto:{{flight.end.name}}, Kraj:{{flight.end.nameCountry}}];
        </div>
      </li>
    </ul>
  </div>
</div>

<div *ngIf="submited && messageIs === false" class="alert alert-danger">
  {{message}}
</div>
