<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{ title }}</h1>
</div>

<div class="row justify-content-md-center">

  <div class="col-md-auto" >

    <div>
      Panel lotniska:
    </div>

    <div class="form-group">
      <button  routerLink="/airport" type="button" class="btn btn-success"> Dodaj </button>
    </div>

    <div class="form-group">
      <button routerLink="/deleteairport" type="button" class="btn btn-danger"> Usuń </button>
    </div>

  </div>

  <div class="col-md-auto">

    <div>
      Panel lotu:
    </div>

    <div class="form-group">
      <button routerLink="/addflight" type="button" class="btn btn-success"> Dodaj </button>
    </div>

    <div class="form-group">
      <button routerLink="/deleteflight" type="button" class="btn btn-danger"> Usuń </button>
    </div>

  </div>

  <div class="col-md-auto">

    <div>
      Panel wyświetlenia:
    </div>

    <div class="form-group">
      <button type="button" class="btn btn-success">Cała baza posortowana wg lotnisk początkowych </button>
    </div>

    <div class="form-group">
      <button type="button" class="btn btn-success">Wszystkie lotniska posortowane wg krajów </button>
    </div>

    <div class="form-group">
      <button type="button" class="btn btn-success">Wszystkie loty z podanego przez użytkownika lotniska początkowego posortowanych wg godzin odlotu</button>
    </div>

    <div class="form-group">
      <button type="button" class="btn btn-success">Wszystkie loty do podanego przez użytkownika lotniska końcowego posortowanych wg godzin przylotu </button>
    </div>

    <div class="form-group">
      <button class="btn btn-success">Połączenia z minimalną liczbą przesiadek pomiędzy dwoma lotniskami</button>
    </div>

  </div>
</div>


<div class="row justify-content-md-center">
  <div class="col-md-auto">

    <router-outlet></router-outlet>

  </div>
</div>


