
<div *ngIf="submitted && messageIs " class="alert alert-success">
  {{message}}
</div>

<div *ngIf="submitted && messageIs === false" class="alert alert-danger">
  {{message}}
</div>


<form [formGroup]="airportForm" (ngSubmit)="onSubmit()" >
    <p>Dodawanie lotniska:</p>

    <div class="form-group">
      <label >Nazwa lotniska:
        <input type="text" class="form-control" formControlName="name" [ngClass]="{ 'is-invalid':submitted && f.name.errors }"/>
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Nazwa lotniska jest pusta</div>
        </div>
      </label>

    </div>

    <div class="form-group">
      <label>Kraj:
        <input type="text" class="form-control" formControlName="nameCountry" [ngClass]="{ 'is-invalid':submitted && f.nameCountry.errors }"/>
        <div *ngIf="submitted && f.nameCountry.errors" class="invalid-feedback">
          <div *ngIf="f.nameCountry.errors.required">Nazwa kraju jest pusta</div>
        </div>
      </label>

    </div>

    <div class="form-group">
      <button class="btn btn-primary">Dodaj lotnisko </button>
    </div>

</form>

<div class="form-group">
  <a routerLink="/"> Powtrot do strony głównej </a>
</div>





